# NECESSARY
SESSION_ID =

# CONFIG

# Comma-separated list of prefixes.
# Example: !,.,#
# Note: commas themselves cannot be used as prefixes.
PREFIX =


# TIMEZONE example: "Asia/Kolkata"
TIMEZONE =

PLATFORM =
AUTO_UPDATE_BOT =
REACT_EMOJI =
ALWAYS_ONLINE =
STICKER_PACKNAME =
WARN_LIMIT =

# Netscape format cookie from youtube.com.
# Must be wrapped in double quotes.
YT_COOKIE =

# API KEYS
GENIUS_API_KEY =